<figure>
  <blockquote class="blockquote">
    <p><%=params[:question]%></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Me
  </figcaption>
</figure>
<figure>
  <blockquote class="blockquote">
    <p><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Your Coach
  </figcaption>
</figure>
<%= link_to "Ask a new question", ask_path, class: "text-decoration-none" %>
